<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<ConfigDefinitionsCollection>

  <ConfigDefinition folder="" name="STN" project="" type="DEVICE_TYPE_DB">﻿&lt;ConfigElement Type="DEVICE_TYPE_DB" ValueOrAlias="Values" AliasName="" xmlns="A420.ExecutionProperties.5"&gt;
  &lt;Name /&gt;
  &lt;Properties&gt;
    &lt;DBServer TYPE="STRING" saveNameAsAttribute="False"&gt;(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = #{aptitudeDatabaseHost})(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = #{aptitudeDatabaseServiceName})))&lt;/DBServer&gt;
    &lt;DatabaseInstance TYPE="STRING" saveNameAsAttribute="False" /&gt;
    &lt;DatabaseName TYPE="STRING" saveNameAsAttribute="False" /&gt;
    &lt;UserName TYPE="STRING" saveNameAsAttribute="False"&gt;STN&lt;/UserName&gt;
    &lt;UserPassword TYPE="STRING" saveNameAsAttribute="False" SUBTYPE="PASSWORD"&gt;@pkcs7Envelope@
&lt;/UserPassword&gt;
    &lt;UseWindowsAutentification TYPE="BOOL" saveNameAsAttribute="False"&gt;False&lt;/UseWindowsAutentification&gt;
    &lt;MinConn TYPE="INT" saveNameAsAttribute="False"&gt;1&lt;/MinConn&gt;
    &lt;MaxConn TYPE="INT" saveNameAsAttribute="False"&gt;8&lt;/MaxConn&gt;
    &lt;IncrConn TYPE="INT" saveNameAsAttribute="False"&gt;1&lt;/IncrConn&gt;
    &lt;UseOracleWallet TYPE="BOOL" saveNameAsAttribute="False"&gt;False&lt;/UseOracleWallet&gt;
    &lt;DatabaseCharset TYPE="STRING" saveNameAsAttribute="False"&gt;ASCII&lt;/DatabaseCharset&gt;
    &lt;NationalCharset TYPE="STRING" saveNameAsAttribute="False"&gt;ASCII&lt;/NationalCharset&gt;
  &lt;/Properties&gt;
&lt;/ConfigElement&gt;</ConfigDefinition>

</ConfigDefinitionsCollection>
