<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Project xmlns="A420.Project.15">
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="Database" Type="Device" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="DEVICE_TYPE_DB" ValueOrAlias="Alias" AliasName="GUI">
<Name>Database</Name>
<Properties>
<DBServer TYPE="STRING" saveNameAsAttribute="False">orcl</DBServer>
<DatabaseInstance TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseName TYPE="STRING" saveNameAsAttribute="False" />
<UserName TYPE="STRING" saveNameAsAttribute="False">gui</UserName>
<UserPassword TYPE="STRING" saveNameAsAttribute="False" SUBTYPE="PASSWORD">-----BEGIN PKCS7-----
MIAGCSqGSIb3DQEHA6CAMIACAQAxggGGMIIBggIBADBqMGUxCzAJBgNVBAYTAlBM
MRUwEwYDVQQIEwxEb2xub3NsYXNraWUxEDAOBgNVBAcTB1dyb2NsYXcxETAPBgNV
BAoTCE1pY3JvZ2VuMRowGAYDVQQLExFNaWNyb2dlbiAoUG9sYW5kKQIBLTANBgkq
hkiG9w0BAQEFAASCAQCbPyecO4Sv8yD/Al4aVpWtmc/Jr6hD7KkCzUCMeZVUXWBi
eTpgz+2DQgl5PT6ug+y5GwPXGbLdiQ2wFgU2iR3+MrVeETmiYwgcoE8AZ4z5VoP4
PFOmmFCQsjVoqwZ0cqxxLtMYQH0SF+7/k+R97erjSCWPjL+/t8vKNasDmwsHAlBy
a9s2rFfxypUS/kUf5lDP7nT/FdeWhCtaXD3G9GAG149A7ydhvQliHFGmO211M01x
orGOrfDQ8q1HA2O7aihx+9TXQPtsGrJriZqOA7Kda9pgMT1BdTwepfI0c+c3YVax
dWxFVU0JNltqkEBRqoBWCEiu/endT+BAJGYRR+bVMIAGCSqGSIb3DQEHATAUBggq
hkiG9w0DBwQITy1wEuYP/zGggAQIL/2q5pz4xckAAAAAAAAAAAAA
-----END PKCS7-----
</UserPassword>
<UseWindowsAutentification TYPE="BOOL" saveNameAsAttribute="False">False</UseWindowsAutentification>
<MinConn TYPE="INT" saveNameAsAttribute="False">1</MinConn>
<MaxConn TYPE="INT" saveNameAsAttribute="False">8</MaxConn>
<IncrConn TYPE="INT" saveNameAsAttribute="False">1</IncrConn>
<UseOracleWallet TYPE="BOOL" saveNameAsAttribute="False">False</UseOracleWallet>
<TeratadaUseOdbcAuthentication TYPE="BOOL" saveNameAsAttribute="False">False</TeratadaUseOdbcAuthentication>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="Clean_posting_queue_journals" Type="Rule" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>Clean_posting_queue_journals</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Source.21">
<ProjectElementReference Name="T_UI_MADJ_POSTING_QUEUE" Type="Source" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="SOURCE_OBJECT_DB" ValueOrAlias="Values" AliasName="">
<Name>T_UI_MADJ_POSTING_QUEUE</Name>
<Properties>
<FetchSizeForKeys TYPE="INT" saveNameAsAttribute="False">1000</FetchSizeForKeys>
<FetchSizeForData TYPE="INT" saveNameAsAttribute="False">1000</FetchSizeForData>
<UpdateBufferSize TYPE="INT" saveNameAsAttribute="False">1000</UpdateBufferSize>
<UseGlobalSEL TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSEL>
<SourceEventsLimit TYPE="INT" saveNameAsAttribute="False">2000</SourceEventsLimit>
<SynchronousMode TYPE="BOOL" saveNameAsAttribute="False">False</SynchronousMode>
<SourceMultiprocessing TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DispatcherGeneral TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SourcePriority TYPE="INT" saveNameAsAttribute="False">0</SourcePriority>
<DispatcherPolicy TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Policies">4</DispatcherPolicy>
<WaitBeforeDispatch TYPE="BOOL" saveNameAsAttribute="False">False</WaitBeforeDispatch>
<DispatcherWaitInterval TYPE="INT" saveNameAsAttribute="False">10</DispatcherWaitInterval>
</DispatcherGeneral>
<TimeoutHandling TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<MultiprocessingUseTimeout TYPE="BOOL" saveNameAsAttribute="False">False</MultiprocessingUseTimeout>
<MultiprocessingTimeout TYPE="INT" saveNameAsAttribute="False">300</MultiprocessingTimeout>
<RedispatchAttempts TYPE="INT" saveNameAsAttribute="False">5</RedispatchAttempts>
<MultiprocessingWaitTime TYPE="INT" saveNameAsAttribute="False">60</MultiprocessingWaitTime>
</TimeoutHandling>
<JobSplit TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TaskSize TYPE="INT" saveNameAsAttribute="False">10000</TaskSize>
</JobSplit>
</SourceMultiprocessing>
<DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<UseLocalSettings TYPE="BOOL" saveNameAsAttribute="False">False</UseLocalSettings>
<SaveDBSessions TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessions>
<RetentionTimout TYPE="INT" saveNameAsAttribute="False">5</RetentionTimout>
</DBSessionsSavingOnSources>
<SourceDBSchedulerComplex TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Mode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="SchedulerMode">1</Mode>
<UseStartTime TYPE="BOOL" saveNameAsAttribute="False">False</UseStartTime>
<StartTime TYPE="DATETIME" saveNameAsAttribute="False">2015-08-12 13:01:37.847</StartTime>
<UseEndTime TYPE="BOOL" saveNameAsAttribute="False">False</UseEndTime>
<EndTime TYPE="DATETIME" saveNameAsAttribute="False">2015-08-12 13:01:37.847</EndTime>
<Interval TYPE="INT" saveNameAsAttribute="False">10</Interval>
<Rows TYPE="INT" saveNameAsAttribute="False">0</Rows>
<PollingInterval TYPE="INT" saveNameAsAttribute="False">10</PollingInterval>
</SourceDBSchedulerComplex>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="Clear_Journal_Id_List_Variable2" Type="Rule" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>Clear_Journal_Id_List_Variable2</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.SqlSchema.2">
<ProjectElementReference Name="DefaultSqlSchema" Type="SqlSchema" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="SQL_SCHEMA" ValueOrAlias="Values" AliasName="">
<Name>DefaultSqlSchema</Name>
<Properties>
<Oracle TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Oracle_11g TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">False</DoNotUseSchemaQualifiers>
</Oracle_11g>
</Oracle>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.TransformationNode.7">
<ProjectElementReference Name="MADJ_POSTING_QUEUE_epg_to_MADJ_POSTING_QUEUE" Type="TransformationNode" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="prui_cleanup_pq_journals" Type="ExternalCall" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.TransformationNode.7">
<ProjectElementReference Name="MADJ_POSTING_QUEUE_epg_to_T_UI_GUI_PARAMETERS" Type="TransformationNode" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="T_UI_GUI_PARAMETERS" Type="EDF" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="prui_post_queued_journals" Type="ExternalCall" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="T_UI_GUI_PARAMETERS" Type="EDFMapping" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="T_UI_MADJ_POSTING_QUEUE" Type="EDFMapping" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="Post_Queued_Journals" Type="BusinessProcess" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>Post_Queued_Journals</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: T_UI_MADJ_POSTING_QUEUE" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">False</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">4</ErrorHandling>
</TransactionRegion_1>
<TransactionRegion_2 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Storage node: Storage" NODES_ID_PATH="" NODE_ID="9">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_2>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="Clear_Journal_Id_List_Variable" Type="Rule" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>Clear_Journal_Id_List_Variable</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="Post_Queued_Journals_Procedure_Wrapper" Type="Rule" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>Post_Queued_Journals_Procedure_Wrapper</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="T_UI_MADJ_POSTING_QUEUE" Type="EDF" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.TransformationNode.7">
<ProjectElementReference Name="MADJ_POSTING_QUEUE_to_T_UI_GUI_PARAMETERS" Type="TransformationNode" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="T_UI_MADJ_POSTING_QUEUE_delete" Type="EDFMapping" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Target.14">
<ProjectElementReference Name="T_UI_MADJ_POSTING_QUEUE_delete" Type="Target" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="TARGET_OBJECT_DB" ValueOrAlias="Values" AliasName="">
<Name>T_UI_MADJ_POSTING_QUEUE_delete</Name>
<Properties>
<TransactionMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="TargetTransactionModeType">1</TransactionMode>
<ORACLE_DPATH_PROPERTIES TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ORACLE_DPATH_BUFFER_SIZE TYPE="INT" saveNameAsAttribute="False">64</ORACLE_DPATH_BUFFER_SIZE>
<ORACLE_DPATH_MODE_LOG TYPE="BOOL" saveNameAsAttribute="False">True</ORACLE_DPATH_MODE_LOG>
<ORACLE_DPATH_MODE_PARALLEL TYPE="BOOL" saveNameAsAttribute="False">False</ORACLE_DPATH_MODE_PARALLEL>
</ORACLE_DPATH_PROPERTIES>
<Mapping_props TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Link_props_0 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Unique_name TYPE="HIDDEN_STRING" saveNameAsAttribute="False">6e8e3d4a-b300-4e6e-83a5-fa4524fb1fbe</Unique_name>
<Mode TYPE="READONLY_STRING" saveNameAsAttribute="False">DELETE</Mode>
<DO_segment_path TYPE="READONLY_STRING" saveNameAsAttribute="False">MADJ_POSTING_QUEUE</DO_segment_path>
<Table_name TYPE="READONLY_STRING" saveNameAsAttribute="False">T_UI_MADJ_POSTING_QUEUE</Table_name>
<BufferSize TYPE="INT" saveNameAsAttribute="False">1000</BufferSize>
</Link_props_0>
</Mapping_props>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="MADJ_POSTING_QUEUE_epg" Type="DataObject" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Procedure.1">
<ProjectElementReference Name="Create_Journal_Id_List" Type="Procedure" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="PROCEDURE" ValueOrAlias="Values" AliasName="">
<Name>Create_Journal_Id_List</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Target.14">
<ProjectElementReference Name="T_UI_GUI_PARAMETERS" Type="Target" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="TARGET_OBJECT_DB" ValueOrAlias="Values" AliasName="">
<Name>T_UI_GUI_PARAMETERS</Name>
<Properties>
<TransactionMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="TargetTransactionModeType">1</TransactionMode>
<ORACLE_DPATH_PROPERTIES TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ORACLE_DPATH_BUFFER_SIZE TYPE="INT" saveNameAsAttribute="False">64</ORACLE_DPATH_BUFFER_SIZE>
<ORACLE_DPATH_MODE_LOG TYPE="BOOL" saveNameAsAttribute="False">True</ORACLE_DPATH_MODE_LOG>
<ORACLE_DPATH_MODE_PARALLEL TYPE="BOOL" saveNameAsAttribute="False">False</ORACLE_DPATH_MODE_PARALLEL>
</ORACLE_DPATH_PROPERTIES>
<Mapping_props TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Link_props_0 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Unique_name TYPE="HIDDEN_STRING" saveNameAsAttribute="False">5739cae5-110b-4e23-8a25-a3632f0c1f48</Unique_name>
<Mode TYPE="READONLY_STRING" saveNameAsAttribute="False">UPDATE</Mode>
<DO_segment_path TYPE="READONLY_STRING" saveNameAsAttribute="False">T_UI_GUI_PARAMETERS</DO_segment_path>
<Table_name TYPE="READONLY_STRING" saveNameAsAttribute="False">T_UI_GUI_PARAMETERS</Table_name>
<BufferSize TYPE="INT" saveNameAsAttribute="False">1000</BufferSize>
</Link_props_0>
</Mapping_props>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="OnProjectStart" Type="BusinessProcess" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>OnProjectStart</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Event node: Event" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">False</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">3</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.TransformationNode.7">
<ProjectElementReference Name="MADJ_POSTING_QUEUE_to_MADJ_POSTING_QUEUE_epg" Type="TransformationNode" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="OnProjectStartDO" Type="DataObject" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="T_UI_MADJ_POSTING_QUEUE_update" Type="EDFMapping" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Target.14">
<ProjectElementReference Name="T_UI_MADJ_POSTING_QUEUE_update" Type="Target" SrcPrj="Madj_Posting_Engine" />
<ConfigElement Type="TARGET_OBJECT_DB" ValueOrAlias="Values" AliasName="">
<Name>T_UI_MADJ_POSTING_QUEUE_update</Name>
<Properties>
<TransactionMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="TargetTransactionModeType">1</TransactionMode>
<ORACLE_DPATH_PROPERTIES TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ORACLE_DPATH_BUFFER_SIZE TYPE="INT" saveNameAsAttribute="False">64</ORACLE_DPATH_BUFFER_SIZE>
<ORACLE_DPATH_MODE_LOG TYPE="BOOL" saveNameAsAttribute="False">True</ORACLE_DPATH_MODE_LOG>
<ORACLE_DPATH_MODE_PARALLEL TYPE="BOOL" saveNameAsAttribute="False">False</ORACLE_DPATH_MODE_PARALLEL>
</ORACLE_DPATH_PROPERTIES>
<Mapping_props TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Link_props_0 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Unique_name TYPE="HIDDEN_STRING" saveNameAsAttribute="False">updatePostingQueue</Unique_name>
<Mode TYPE="READONLY_STRING" saveNameAsAttribute="False">ANY_SQL</Mode>
<DO_segment_path TYPE="READONLY_STRING" saveNameAsAttribute="False">MADJ_POSTING_QUEUE</DO_segment_path>
<Table_name TYPE="READONLY_STRING" saveNameAsAttribute="False">updatePostingQueue</Table_name>
<BufferSize TYPE="INT" saveNameAsAttribute="False">1000</BufferSize>
</Link_props_0>
</Mapping_props>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="MADJ_POSTING_QUEUE" Type="DataObject" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="T_UI_GUI_PARAMETERS" Type="DataObject" SrcPrj="Madj_Posting_Engine" />
</ElementConfiguration>
<PropertyConfiguration>
<Name>BusinessCalendarsList2</Name>
<ConfigElement Type="PROJECT_PROPERTY_BUSINESS_CALENDARS_LIST" ValueOrAlias="Values" AliasName="">
<Name>BusinessCalendarsList2</Name>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ApplicationDefinitions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityRoles</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ExecutionProperties</Name>
<ConfigElement Type="EXECUTION_PROPERTIES" ValueOrAlias="Values" AliasName="">
<Name>ExecutionProperties</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<FastMode IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</FastMode>
<ThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<BPDThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</BPDThreadPoolSize>
<AutoRestart IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</AutoRestart>
<InternalDataHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="InternalDataHandling">0</InternalDataHandling>
<TransactionBatchSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
<SourceEventsLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">2000</SourceEventsLimit>
<SessionSharing IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionSessionSharing" />
<DispatchingPolicyAmongSources IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DispatchingPolicyAmongSources">0</DispatchingPolicyAmongSources>
<ExecutionCOMPlusThreadingModel IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionCOMPlusThreadingModel">1</ExecutionCOMPlusThreadingModel>
<MultiProcessingLoadBalancingPolicy IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LoadBalancingPolicy">2</MultiProcessingLoadBalancingPolicy>
<MemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="MemoryManagement">0</MemoryManagement>
<DataMemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DataMemoryManagement">4</DataMemoryManagement>
<ProjectInstanceMemoryLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</ProjectInstanceMemoryLimit>
<ProjectInstanceCount IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ProjectInstanceCount>
<CriticalErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CriticalErrorHandling">0</CriticalErrorHandling>
<CriticalErrorNumberStoppingExecution IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</CriticalErrorNumberStoppingExecution>
<BusHandlingThreads IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</BusHandlingThreads>
<ProcessManagers TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<MainProcessManager IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AdditionalProcessManagers IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</ProcessManagers>
</Execution>
<ExecutionParameters IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" />
<LdapSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanSettingsUse IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LdapSettingsType">0</AzmanSettingsUse>
<GroupRoleMappings IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" />
<AzmanSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanUsersGroupsDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanBuildInDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanAuthorisationStoreDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">CN=store,CN=Program Data,DC=server,DC=example</AzmanAuthorisationStoreDN>
<AzmanApplicationName IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">WebApplication</AzmanApplicationName>
</AzmanSettings>
</LdapSettings>
<CoherenceParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ConfigItem name="General classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="HDFS classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="PIG classpath" TYPE="STRING" saveNameAsAttribute="True" />
</CoherenceParameters>
<TransactionRetry TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<NumberOfRetries IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">300</NumberOfRetries>
<Delay IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</Delay>
<EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate>
</TransactionRetry>
<DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessions IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessions>
<RetentionTimout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">5</RetentionTimout>
</DBSessionsSavingOnSources>
<DBSessionsSavingOnETR TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessionsInETR IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessionsInETR>
<SaveDBSessionsInETR_RetentionTimeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</SaveDBSessionsInETR_RetentionTimeout>
</DBSessionsSavingOnETR>
<LockUnlockParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Scope IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Scopes">0</Scope>
<Timeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">30</Timeout>
</LockUnlockParameters>
<WebApplication TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ApplicationAddress IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</WebApplication>
<InternationalCharacterSupport TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Collation IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CultureInfo">GB</Collation>
<CollationStrength IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CollationStrength">0</CollationStrength>
<Encoding IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DeviceFileEncoding">5</Encoding>
</InternationalCharacterSupport>
<Localisation TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DefaultCulture IsOverridable="True" TYPE="DYNAMIC_CHOICE" saveNameAsAttribute="False" DynamicChoiceLoaderClass="Microgen.Aptitude.Metamodel.Development.config.exported.dynamicchoiceclasses.classes.LocalizationLanguageLoader" />
</Localisation>
<ExecutionLog TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<OverrideIniFileSurveySettings IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</OverrideIniFileSurveySettings>
<Enabled IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</Enabled>
<EnableStatistics IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</EnableStatistics>
<Levels IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">-n109</Levels>
</ExecutionLog>
</Properties>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>VariablesCollection</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LibrarySubstitutions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LocalizationProperties</Name>
<ConfigData Type="LocalizationConfigData">
<Cultures>
<Culture default="true">en</Culture>
<Culture default="true">en</Culture>
</Cultures>
</ConfigData>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityPolicies</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>DataTypeMappings</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>Sequences</Name>
<ConfigElement Type="SEQUENCES" ValueOrAlias="Values" AliasName="">
<Name>Sequences</Name>
</ConfigElement>
</PropertyConfiguration>
</Project>