<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Project xmlns="A420.Project.15">
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="EDFMapping" SrcPrj="mah_common" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="EDF" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="EDFMapping" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="writeProcessVolume" Type="ExternalCall" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="bus" Type="Device" SrcPrj="mah_common" />
<ConfigElement Type="DEVICE_TYPE_BUS" ValueOrAlias="Values" AliasName="">
<Name>bus</Name>
<Properties>
<BusName TYPE="STRING" saveNameAsAttribute="False">APT_BUS</BusName>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="mahv01__set_licence_parameters" Type="Rule" SrcPrj="mah_common_controller" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>mahv01__set_licence_parameters</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="DataObject" SrcPrj="mah_common" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="mah__load_epg_dimension" Type="Rule" SrcPrj="mah_common_controller" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>mah__load_epg_dimension</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>SLR_ENTITY_PROC_GROUP_CONFIG</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ReferenceObject.6">
<ProjectElementReference Name="FR_CALENDAR" Type="ReferenceObject" SrcPrj="mah_common_controller" />
<ConfigElement Type="REFERENCE_OBJECT" ValueOrAlias="Values" AliasName="">
<Name>FR_CALENDAR</Name>
<Properties>
<ReferenceObjectCacheMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectCachingMode">0</ReferenceObjectCacheMode>
<MaxMemUsage TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsage>
<MaxMemUsageSize TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSize>
<MaxMemUsageResultCaching TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsageResultCaching>
<MaxMemUsageSizeResultCaching TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSizeResultCaching>
<TimeMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectTimeMode">0</TimeMode>
<RetentionTimeDays TYPE="INT" saveNameAsAttribute="False">1</RetentionTimeDays>
<RetentionTimeHours TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeHours>
<RetentionTimeMinutes TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeMinutes>
<TOTDHour TYPE="INT" saveNameAsAttribute="False">0</TOTDHour>
<TOTDMinute TYPE="INT" saveNameAsAttribute="False">0</TOTDMinute>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="Dual" Type="EDF" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ReferenceObject.6">
<ProjectElementReference Name="SLR_ENTITY_PROC_GROUP_CONFIG" Type="ReferenceObject" SrcPrj="mah_common_controller" />
<ConfigElement Type="REFERENCE_OBJECT" ValueOrAlias="Values" AliasName="">
<Name>SLR_ENTITY_PROC_GROUP_CONFIG</Name>
<Properties>
<ReferenceObjectCacheMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectCachingMode">0</ReferenceObjectCacheMode>
<MaxMemUsage TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsage>
<MaxMemUsageSize TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSize>
<MaxMemUsageResultCaching TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsageResultCaching>
<MaxMemUsageSizeResultCaching TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSizeResultCaching>
<TimeMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectTimeMode">0</TimeMode>
<RetentionTimeDays TYPE="INT" saveNameAsAttribute="False">1</RetentionTimeDays>
<RetentionTimeHours TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeHours>
<RetentionTimeMinutes TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeMinutes>
<TOTDHour TYPE="INT" saveNameAsAttribute="False">0</TOTDHour>
<TOTDMinute TYPE="INT" saveNameAsAttribute="False">0</TOTDMinute>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="mah__reload_cache" Type="Rule" SrcPrj="mah_common_controller" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>mah__reload_cache</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>FR_CALENDAR</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="writeProcessVolume" Type="Rule" SrcPrj="mah_common_controller" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>writeProcessVolume</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="FR_BATCH_SCHEDULE__controller" Type="EDF" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="database" Type="Device" SrcPrj="mah_common_controller" />
<ConfigElement Type="DEVICE_TYPE_DB" ValueOrAlias="Alias" AliasName="FDR">
<Name>database</Name>
<Properties>
<DBServer TYPE="STRING" saveNameAsAttribute="False">mahdb</DBServer>
<DatabaseInstance TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseName TYPE="STRING" saveNameAsAttribute="False" />
<UserName TYPE="STRING" saveNameAsAttribute="False">fdr</UserName>
<UserPassword TYPE="STRING" saveNameAsAttribute="False" SUBTYPE="PASSWORD">-----BEGIN PKCS7-----
MIAGCSqGSIb3DQEHA6CAMIACAQAxggGGMIIBggIBADBqMGUxCzAJBgNVBAYTAlBM
MRUwEwYDVQQIEwxEb2xub3NsYXNraWUxEDAOBgNVBAcTB1dyb2NsYXcxETAPBgNV
BAoTCE1pY3JvZ2VuMRowGAYDVQQLExFNaWNyb2dlbiAoUG9sYW5kKQIBLTANBgkq
hkiG9w0BAQEFAASCAQCIHuDP4FUySVzR+T8QBDECCgruLnaSGNF3Hldcyzr2dC0o
/xQApsr+aojiXiWZ2GnaiWC8Xol/lV0/EAHdD7EspFo6DPi42u2zCA8CHxKqjDZ1
ev5X0xSenLYLGZW1aHlrr+FXqJHs94b0OfEPwqtIlYcSpWn0z9jmQHqXFF0KGQaT
iGo3vOglE9lfs24fctZXeIUnv0IqQS14jE2yOQltEvtJdbyiB57lWhasE7Nj4hj2
DqDuSG9GqaJFG6K5rhryeYDk9jb1dznCTGPxgD+bqrkNufxmJFZvQ7GOqQCnVGfk
/5eCE9E8B7xZDYAXbwD98f8IzlZmilUHB/b7Q6AhMIAGCSqGSIb3DQEHATAUBggq
hkiG9w0DBwQIBF9SO0eQk6mggAQILrt2rAiGNzsAAAAAAAAAAAAA
-----END PKCS7-----
</UserPassword>
<UseWindowsAutentification TYPE="BOOL" saveNameAsAttribute="False">False</UseWindowsAutentification>
<MinConn TYPE="INT" saveNameAsAttribute="False">1</MinConn>
<MaxConn TYPE="INT" saveNameAsAttribute="False">64</MaxConn>
<IncrConn TYPE="INT" saveNameAsAttribute="False">1</IncrConn>
<UseOracleWallet TYPE="BOOL" saveNameAsAttribute="False">False</UseOracleWallet>
<TeratadaUseOdbcAuthentication TYPE="BOOL" saveNameAsAttribute="False">False</TeratadaUseOdbcAuthentication>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="mah__update_status" Type="Rule" SrcPrj="mah_common_controller" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>mah__update_status</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>FR_BATCH_SCHEDULE</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="FR_BATCH_SCHEDULE_controller" Type="EDFMapping" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="FR_BATCH_SCHEDULE_controller" Type="EDF" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="FR_CALENDAR" Type="EDFMapping" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="common_container" Type="Device" SrcPrj="mah_common_controller" />
<ConfigElement Type="DEVICE_TYPE_SERVICE_CONTAINER" ValueOrAlias="Values" AliasName="">
<Name>common_container</Name>
<Properties>
<ServiceContainerHostingProject TYPE="STRING" saveNameAsAttribute="False">mah_common</ServiceContainerHostingProject>
<ServiceContainerExecutionFolder TYPE="STRING" saveNameAsAttribute="False" />
<ServiceContainerBusHost TYPE="STRING" saveNameAsAttribute="False" />
<ServiceContainerBusPort TYPE="INT" saveNameAsAttribute="False">0</ServiceContainerBusPort>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="mah_controller" Type="BusinessProcess" SrcPrj="mah_common_controller" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>mah_controller</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: FR_BATCH_SCHEDULE_controller" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
<TransactionRegion_2 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Event node: On Start 2" NODES_ID_PATH="" NODE_ID="33">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">False</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">3</ErrorHandling>
</TransactionRegion_2>
<TransactionRegion_3 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Storage node: Storage" NODES_ID_PATH="" NODE_ID="130">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">False</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_3>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="testLicencedModuleWithCommit" Type="ExternalCall" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Target.14">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="Target" SrcPrj="mah_common_controller" />
<ConfigElement Type="TARGET_OBJECT_DB" ValueOrAlias="Values" AliasName="">
<Name>FR_BATCH_SCHEDULE</Name>
<Properties>
<TransactionMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="TargetTransactionModeType">1</TransactionMode>
<ORACLE_DPATH_PROPERTIES TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ORACLE_DPATH_BUFFER_SIZE TYPE="INT" saveNameAsAttribute="False">1000</ORACLE_DPATH_BUFFER_SIZE>
<ORACLE_DPATH_MODE_LOG TYPE="BOOL" saveNameAsAttribute="False">True</ORACLE_DPATH_MODE_LOG>
<ORACLE_DPATH_MODE_PARALLEL TYPE="BOOL" saveNameAsAttribute="False">False</ORACLE_DPATH_MODE_PARALLEL>
</ORACLE_DPATH_PROPERTIES>
<Mapping_props TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Link_props_0 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Unique_name TYPE="HIDDEN_STRING" saveNameAsAttribute="False">fb5d4e41-090f-4b7d-a061-f8210bf29ef6</Unique_name>
<Mode TYPE="READONLY_STRING" saveNameAsAttribute="False">UPDATE</Mode>
<DO_segment_path TYPE="READONLY_STRING" saveNameAsAttribute="False">FR_BATCH_SCHEDULE</DO_segment_path>
<Table_name TYPE="READONLY_STRING" saveNameAsAttribute="False">FR_BATCH_SCHEDULE</Table_name>
<BufferSize TYPE="INT" saveNameAsAttribute="False">10</BufferSize>
</Link_props_0>
</Mapping_props>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="DataObject" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="database" Type="Device" SrcPrj="mah_common" />
<ConfigElement Type="DEVICE_TYPE_DB" ValueOrAlias="Alias" AliasName="FDR">
<Name>database</Name>
<Properties>
<DBServer TYPE="STRING" saveNameAsAttribute="False">mahdb</DBServer>
<DatabaseInstance TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseName TYPE="STRING" saveNameAsAttribute="False" />
<UserName TYPE="STRING" saveNameAsAttribute="False">fdr</UserName>
<UserPassword TYPE="STRING" saveNameAsAttribute="False" SUBTYPE="PASSWORD">-----BEGIN PKCS7-----
MIAGCSqGSIb3DQEHA6CAMIACAQAxggGGMIIBggIBADBqMGUxCzAJBgNVBAYTAlBM
MRUwEwYDVQQIEwxEb2xub3NsYXNraWUxEDAOBgNVBAcTB1dyb2NsYXcxETAPBgNV
BAoTCE1pY3JvZ2VuMRowGAYDVQQLExFNaWNyb2dlbiAoUG9sYW5kKQIBLTANBgkq
hkiG9w0BAQEFAASCAQB39LKAKdDtnainVWlwwnhfcoU4arYoSywkvKV6ClBBCrm5
7XTG1Owhkpx2bJdbJkOwkfVRyhLjcOwt8xEnBPxZH1CbZAFXUomh0Q4Dd9YiVosi
RBHXmpH9M2N5n1YI0V8AuWkWbyG2MytaCoLwwQ5otvrtUk4ABpWB5RyLgO6DnlbV
Amkv+Bm4uC13EwWdVaLeTeXmZzslN5TP6iz/50No7WqjTqyXnK6CUt4OEJ7/Ctms
y0Zdj9q7VPWlFCGAQdk7xO2OGPoknpFEAaGoV0HZPmXkZ5skW+59akysjnVZkXBH
lZVpd5JCoof4UN6kR2wmjp3abwqTF/j+l13INNooMIAGCSqGSIb3DQEHATAUBggq
hkiG9w0DBwQIuUfdSq3kh+yggAQIaBUAXwpZZscAAAAAAAAAAAAA
-----END PKCS7-----
</UserPassword>
<UseWindowsAutentification TYPE="BOOL" saveNameAsAttribute="False">False</UseWindowsAutentification>
<MinConn TYPE="INT" saveNameAsAttribute="False">1</MinConn>
<MaxConn TYPE="INT" saveNameAsAttribute="False">64</MaxConn>
<IncrConn TYPE="INT" saveNameAsAttribute="False">1</IncrConn>
<UseOracleWallet TYPE="BOOL" saveNameAsAttribute="False">False</UseOracleWallet>
<TeratadaUseOdbcAuthentication TYPE="BOOL" saveNameAsAttribute="False">False</TeratadaUseOdbcAuthentication>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="SLR_ENTITY_PROC_GROUP_CONFIG" Type="DataObject" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="Dual" Type="DataObject" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ReferenceObject.6">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="ReferenceObject" SrcPrj="mah_common_controller" />
<ConfigElement Type="REFERENCE_OBJECT" ValueOrAlias="Values" AliasName="">
<Name>FR_BATCH_SCHEDULE</Name>
<Properties>
<ReferenceObjectCacheMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectCachingMode">0</ReferenceObjectCacheMode>
<MaxMemUsage TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsage>
<MaxMemUsageSize TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSize>
<MaxMemUsageResultCaching TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsageResultCaching>
<MaxMemUsageSizeResultCaching TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSizeResultCaching>
<TimeMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectTimeMode">0</TimeMode>
<RetentionTimeDays TYPE="INT" saveNameAsAttribute="False">1</RetentionTimeDays>
<RetentionTimeHours TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeHours>
<RetentionTimeMinutes TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeMinutes>
<TOTDHour TYPE="INT" saveNameAsAttribute="False">0</TOTDHour>
<TOTDMinute TYPE="INT" saveNameAsAttribute="False">0</TOTDMinute>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="SourcePooler" Type="BusinessProcess" SrcPrj="mah_common_controller" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>SourcePooler</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Dual" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="FR_CALENDAR" Type="DataObject" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ReferenceObject.6">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="ReferenceObject" SrcPrj="mah_common" />
<ConfigElement Type="REFERENCE_OBJECT" ValueOrAlias="Values" AliasName="">
<Name>FR_BATCH_SCHEDULE</Name>
<Properties>
<ReferenceObjectCacheMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectCachingMode">0</ReferenceObjectCacheMode>
<MaxMemUsage TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsage>
<MaxMemUsageSize TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSize>
<MaxMemUsageResultCaching TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsageResultCaching>
<MaxMemUsageSizeResultCaching TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSizeResultCaching>
<TimeMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectTimeMode">0</TimeMode>
<RetentionTimeDays TYPE="INT" saveNameAsAttribute="False">1</RetentionTimeDays>
<RetentionTimeHours TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeHours>
<RetentionTimeMinutes TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeMinutes>
<TOTDHour TYPE="INT" saveNameAsAttribute="False">0</TOTDHour>
<TOTDMinute TYPE="INT" saveNameAsAttribute="False">0</TOTDMinute>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="SLR_ENTITY_PROC_GROUP_CONFIG" Type="EDFMapping" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="FR_BATCH_SCHEDULE" Type="EDF" SrcPrj="mah_common" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Source.21">
<ProjectElementReference Name="FR_BATCH_SCHEDULE_controller" Type="Source" SrcPrj="mah_common_controller" />
<ConfigElement Type="SOURCE_OBJECT_DB" ValueOrAlias="Values" AliasName="">
<Name>FR_BATCH_SCHEDULE_controller</Name>
<Properties>
<FetchSizeForKeys TYPE="INT" saveNameAsAttribute="False">1000</FetchSizeForKeys>
<FetchSizeForData TYPE="INT" saveNameAsAttribute="False">1000</FetchSizeForData>
<UpdateBufferSize TYPE="INT" saveNameAsAttribute="False">1000</UpdateBufferSize>
<UseGlobalSEL TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSEL>
<SourceEventsLimit TYPE="INT" saveNameAsAttribute="False">2000</SourceEventsLimit>
<SynchronousMode TYPE="BOOL" saveNameAsAttribute="False">False</SynchronousMode>
<SourceMultiprocessing TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DispatcherGeneral TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SourcePriority TYPE="INT" saveNameAsAttribute="False">0</SourcePriority>
<DispatcherPolicy TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Policies">4</DispatcherPolicy>
<WaitBeforeDispatch TYPE="BOOL" saveNameAsAttribute="False">False</WaitBeforeDispatch>
<DispatcherWaitInterval TYPE="INT" saveNameAsAttribute="False">1</DispatcherWaitInterval>
</DispatcherGeneral>
<TimeoutHandling TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<MultiprocessingUseTimeout TYPE="BOOL" saveNameAsAttribute="False">False</MultiprocessingUseTimeout>
<MultiprocessingTimeout TYPE="INT" saveNameAsAttribute="False">100</MultiprocessingTimeout>
<RedispatchAttempts TYPE="INT" saveNameAsAttribute="False">5</RedispatchAttempts>
<MultiprocessingWaitTime TYPE="INT" saveNameAsAttribute="False">100</MultiprocessingWaitTime>
</TimeoutHandling>
<JobSplit TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TaskSize TYPE="INT" saveNameAsAttribute="False">10000</TaskSize>
</JobSplit>
</SourceMultiprocessing>
<DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<UseLocalSettings TYPE="BOOL" saveNameAsAttribute="False">False</UseLocalSettings>
<SaveDBSessions TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessions>
<RetentionTimout TYPE="INT" saveNameAsAttribute="False">5</RetentionTimout>
</DBSessionsSavingOnSources>
<SourceDBSchedulerComplex TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Mode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="SchedulerMode">4</Mode>
<UseStartTime TYPE="BOOL" saveNameAsAttribute="False">False</UseStartTime>
<StartTime TYPE="DATETIME" saveNameAsAttribute="False">2009-06-04 09:36:34.102</StartTime>
<UseEndTime TYPE="BOOL" saveNameAsAttribute="False">False</UseEndTime>
<EndTime TYPE="DATETIME" saveNameAsAttribute="False">2009-06-04 09:36:34.102</EndTime>
<Interval TYPE="INT" saveNameAsAttribute="False">0</Interval>
<Rows TYPE="INT" saveNameAsAttribute="False">0</Rows>
<PollingInterval TYPE="INT" saveNameAsAttribute="False">0</PollingInterval>
</SourceDBSchedulerComplex>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.TransformationNode.7">
<ProjectElementReference Name="mahv02_batch_schedule_update__running" Type="TransformationNode" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="FR_BATCH_SCHEDULE__controller" Type="EDFMapping" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="wait" Type="Rule" SrcPrj="mah_common_controller" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>wait</Name>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="FR_CALENDAR" Type="EDF" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="testLicencedModule" Type="ExternalCall" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Source.21">
<ProjectElementReference Name="Dual" Type="Source" SrcPrj="mah_common_controller" />
<ConfigElement Type="SOURCE_OBJECT_DB" ValueOrAlias="Values" AliasName="">
<Name>Dual</Name>
<Properties>
<FetchSizeForKeys TYPE="INT" saveNameAsAttribute="False">1000</FetchSizeForKeys>
<FetchSizeForData TYPE="INT" saveNameAsAttribute="False">1000</FetchSizeForData>
<UpdateBufferSize TYPE="INT" saveNameAsAttribute="False">1000</UpdateBufferSize>
<UseGlobalSEL TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSEL>
<SourceEventsLimit TYPE="INT" saveNameAsAttribute="False">2000</SourceEventsLimit>
<SynchronousMode TYPE="BOOL" saveNameAsAttribute="False">False</SynchronousMode>
<SourceMultiprocessing TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DispatcherGeneral TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SourcePriority TYPE="INT" saveNameAsAttribute="False">0</SourcePriority>
<DispatcherPolicy TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Policies">4</DispatcherPolicy>
<WaitBeforeDispatch TYPE="BOOL" saveNameAsAttribute="False">False</WaitBeforeDispatch>
<DispatcherWaitInterval TYPE="INT" saveNameAsAttribute="False">10</DispatcherWaitInterval>
</DispatcherGeneral>
<TimeoutHandling TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<MultiprocessingUseTimeout TYPE="BOOL" saveNameAsAttribute="False">False</MultiprocessingUseTimeout>
<MultiprocessingTimeout TYPE="INT" saveNameAsAttribute="False">300</MultiprocessingTimeout>
<RedispatchAttempts TYPE="INT" saveNameAsAttribute="False">5</RedispatchAttempts>
<MultiprocessingWaitTime TYPE="INT" saveNameAsAttribute="False">60</MultiprocessingWaitTime>
</TimeoutHandling>
<JobSplit TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TaskSize TYPE="INT" saveNameAsAttribute="False">10000</TaskSize>
</JobSplit>
</SourceMultiprocessing>
<DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<UseLocalSettings TYPE="BOOL" saveNameAsAttribute="False">False</UseLocalSettings>
<SaveDBSessions TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessions>
<RetentionTimout TYPE="INT" saveNameAsAttribute="False">5</RetentionTimout>
</DBSessionsSavingOnSources>
<SourceDBSchedulerComplex TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Mode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="SchedulerMode">1</Mode>
<UseStartTime TYPE="BOOL" saveNameAsAttribute="False">False</UseStartTime>
<StartTime TYPE="DATETIME" saveNameAsAttribute="False">2014-02-12 09:55:43.591</StartTime>
<UseEndTime TYPE="BOOL" saveNameAsAttribute="False">False</UseEndTime>
<EndTime TYPE="DATETIME" saveNameAsAttribute="False">2014-02-12 09:55:43.591</EndTime>
<Interval TYPE="INT" saveNameAsAttribute="False">10</Interval>
<Rows TYPE="INT" saveNameAsAttribute="False">10</Rows>
<PollingInterval TYPE="INT" saveNameAsAttribute="False">5</PollingInterval>
</SourceDBSchedulerComplex>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.TransformationNode.7">
<ProjectElementReference Name="GetProjectFolderName" Type="TransformationNode" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.SqlSchema.2">
<ProjectElementReference Name="DefaultSqlSchema" Type="SqlSchema" SrcPrj="mah_common_controller" />
<ConfigElement Type="SQL_SCHEMA" ValueOrAlias="Values" AliasName="">
<Name>DefaultSqlSchema</Name>
<Properties>
<Any TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AnyAny TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DatabaseOrSchema TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</AnyAny>
</Any>
<SQLServer TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SQLServer_2008 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</SQLServer_2008>
<SQLServer_2012 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</SQLServer_2012>
</SQLServer>
<Oracle TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Oracle_10g TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Oracle_10g>
<Oracle_11g TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Oracle_11g>
</Oracle>
<Teradata TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Teradata_13_10 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Teradata_13_10>
</Teradata>
<Netezza TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Netezza_6 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<Owner TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Netezza_6>
</Netezza>
<Hive TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Hive_0_12 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Database TYPE="STRING" saveNameAsAttribute="False" />
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">True</DoNotUseSchemaQualifiers>
</Hive_0_12>
</Hive>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="Dual" Type="EDFMapping" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="SLR_ENTITY_PROC_GROUP_CONFIG" Type="EDF" SrcPrj="mah_common_controller" />
</ElementConfiguration>
<PropertyConfiguration>
<Name>BusinessCalendarsList2</Name>
<ConfigElement Type="PROJECT_PROPERTY_BUSINESS_CALENDARS_LIST" ValueOrAlias="Values" AliasName="">
<Name>BusinessCalendarsList2</Name>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ApplicationDefinitions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityRoles</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ExecutionProperties</Name>
<ConfigElement Type="EXECUTION_PROPERTIES" ValueOrAlias="Values" AliasName="">
<Name>ExecutionProperties</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<FastMode IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</FastMode>
<ThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<BPDThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</BPDThreadPoolSize>
<AutoRestart IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</AutoRestart>
<InternalDataHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="InternalDataHandling">0</InternalDataHandling>
<TransactionBatchSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">5</ErrorHandling>
<SourceEventsLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">2000</SourceEventsLimit>
<SessionSharing IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionSessionSharing" />
<DispatchingPolicyAmongSources IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DispatchingPolicyAmongSources">0</DispatchingPolicyAmongSources>
<ExecutionCOMPlusThreadingModel IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionCOMPlusThreadingModel">1</ExecutionCOMPlusThreadingModel>
<MultiProcessingLoadBalancingPolicy IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LoadBalancingPolicy">2</MultiProcessingLoadBalancingPolicy>
<MemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="MemoryManagement">0</MemoryManagement>
<DataMemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DataMemoryManagement">1</DataMemoryManagement>
<ProjectInstanceMemoryLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</ProjectInstanceMemoryLimit>
<ProjectInstanceCount IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ProjectInstanceCount>
<CriticalErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CriticalErrorHandling">0</CriticalErrorHandling>
<CriticalErrorNumberStoppingExecution IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</CriticalErrorNumberStoppingExecution>
<BusHandlingThreads IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</BusHandlingThreads>
<ProcessManagers TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<MainProcessManager IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AdditionalProcessManagers IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</ProcessManagers>
</Execution>
<ExecutionParameters IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ConfigItem name="Node_Number" IsOverridable="True" CanModifyConfidentiality="True" TYPE="STRING" saveNameAsAttribute="True">1</ConfigItem>
<ConfigItem name="Nodes" IsOverridable="True" CanModifyConfidentiality="True" TYPE="STRING" saveNameAsAttribute="True">1</ConfigItem>
<ConfigItem name="WAIT" IsOverridable="True" CanModifyConfidentiality="True" TYPE="STRING" saveNameAsAttribute="True">1</ConfigItem>
<ConfigItem name="INITIALIZED" IsOverridable="True" CanModifyConfidentiality="True" TYPE="STRING" saveNameAsAttribute="True">0</ConfigItem>
<ConfigItem name="DSR_MODULE" IsOverridable="True" CanModifyConfidentiality="True" TYPE="STRING" saveNameAsAttribute="True">C</ConfigItem>
</ExecutionParameters>
<LdapSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanSettingsUse IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LdapSettingsType">0</AzmanSettingsUse>
<GroupRoleMappings IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" />
<AzmanSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanUsersGroupsDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanBuildInDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanAuthorisationStoreDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">CN=store,CN=Program Data,DC=server,DC=example</AzmanAuthorisationStoreDN>
<AzmanApplicationName IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">WebApplication</AzmanApplicationName>
</AzmanSettings>
</LdapSettings>
<CoherenceParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ConfigItem name="General classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="HDFS classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="PIG classpath" TYPE="STRING" saveNameAsAttribute="True" />
</CoherenceParameters>
<TransactionRetry TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<NumberOfRetries IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">300</NumberOfRetries>
<Delay IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</Delay>
<EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate>
</TransactionRetry>
<DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessions IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessions>
<RetentionTimout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">5</RetentionTimout>
</DBSessionsSavingOnSources>
<DBSessionsSavingOnETR TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessionsInETR IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessionsInETR>
<SaveDBSessionsInETR_RetentionTimeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</SaveDBSessionsInETR_RetentionTimeout>
</DBSessionsSavingOnETR>
<LockUnlockParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Scope IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Scopes">0</Scope>
<Timeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">30</Timeout>
</LockUnlockParameters>
<WebApplication TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ApplicationAddress IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</WebApplication>
<InternationalCharacterSupport TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Collation IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CultureInfo">GB</Collation>
<CollationStrength IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CollationStrength">0</CollationStrength>
<Encoding IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DeviceFileEncoding">5</Encoding>
</InternationalCharacterSupport>
<Localisation TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DefaultCulture IsOverridable="True" TYPE="DYNAMIC_CHOICE" saveNameAsAttribute="False" DynamicChoiceLoaderClass="Microgen.Aptitude.Metamodel.Development.config.exported.dynamicchoiceclasses.classes.LocalizationLanguageLoader" />
</Localisation>
<ExecutionLog TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<OverrideIniFileSurveySettings IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</OverrideIniFileSurveySettings>
<Enabled IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</Enabled>
<EnableStatistics IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</EnableStatistics>
<Levels IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">-n109</Levels>
</ExecutionLog>
</Properties>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>VariablesCollection</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LibrarySubstitutions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LocalizationProperties</Name>
<ConfigData Type="LocalizationConfigData">
<Cultures>
<Culture default="true">en</Culture>
<Culture default="true">en</Culture>
</Cultures>
</ConfigData>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityPolicies</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>DataTypeMappings</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>Sequences</Name>
<ConfigElement Type="SEQUENCES" ValueOrAlias="Values" AliasName="">
<Name>Sequences</Name>
</ConfigElement>
</PropertyConfiguration>
</Project>