<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Project xmlns="A420.Project.15">
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="check_resubmitted_errors" Type="Rule" SrcPrj="Utilities" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>check_resubmitted_errors</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>lpg_id</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="check_resubmitted_errors" Type="BusinessProcess" SrcPrj="Utilities" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>check_resubmitted_errors</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="check_resubmitted_errors-utilities" Type="BusinessProcess" SrcPrj="Utilities" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>check_resubmitted_errors-utilities</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="roll_date" Type="Rule" SrcPrj="Utilities" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>roll_date</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>lpg_id</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="fr_global_parameter" Type="EDF" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="roll_date" Type="BusinessProcess" SrcPrj="Utilities" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>roll_date</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="ye_cleardown" Type="BusinessProcess" SrcPrj="Utilities" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>ye_cleardown</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="lpg_id" Type="DataObject" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDF.17">
<ProjectElementReference Name="ParamItems" Type="EDF" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="gui" Type="Device" SrcPrj="Utilities" />
<ConfigElement Type="DEVICE_TYPE_DB" ValueOrAlias="Alias" AliasName="GUI">
<Name>gui</Name>
<Properties>
<DBServer TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseInstance TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseName TYPE="STRING" saveNameAsAttribute="False" />
<UserName TYPE="STRING" saveNameAsAttribute="False" />
<UserPassword TYPE="STRING" saveNameAsAttribute="False" SUBTYPE="PASSWORD">-----BEGIN PKCS7-----
MIAGCSqGSIb3DQEHA6CAMIACAQAxggGGMIIBggIBADBqMGUxCzAJBgNVBAYTAlBM
MRUwEwYDVQQIEwxEb2xub3NsYXNraWUxEDAOBgNVBAcTB1dyb2NsYXcxETAPBgNV
BAoTCE1pY3JvZ2VuMRowGAYDVQQLExFNaWNyb2dlbiAoUG9sYW5kKQIBLTANBgkq
hkiG9w0BAQEFAASCAQACZX/zyG0YjSaCf/oRnqp119sd7frDmZqzPe3xGWZmaRKQ
Hu1DCwXXasm3iRisoouFSTp+PF/kwibiy8OK7PGSpcgowuLCwPs4KwOmQug4EJJ0
H6yqmN0qn2lckNBbdjq6z7dXZl/+OgxUU2fQmMAk+s3zPEJx1ZBvT4GYdPIBqRxT
lYSsxXxl3P4QyMR8Xf9MiydwCPNksE6aw42of5sntJAUjAUKdJNq48UWCXXjnodh
lEbRS4ecDScmt3E9CxDuWHirNzGyORLrEgGvtA25BtYiV2uADGgFdTifBmFQWJBr
3H+wZXn2RFfWo6dp5aqper5EXgvNXCGrVTcC76tuMIAGCSqGSIb3DQEHATAUBggq
hkiG9w0DBwQIxq3T3mFKT+qggAQI1UdQeh3RyQMAAAAAAAAAAAAA
-----END PKCS7-----
</UserPassword>
<UseWindowsAutentification TYPE="BOOL" saveNameAsAttribute="False">False</UseWindowsAutentification>
<MinConn TYPE="INT" saveNameAsAttribute="False">1</MinConn>
<MaxConn TYPE="INT" saveNameAsAttribute="False">8</MaxConn>
<IncrConn TYPE="INT" saveNameAsAttribute="False">1</IncrConn>
<UseOracleWallet TYPE="BOOL" saveNameAsAttribute="False">False</UseOracleWallet>
<TeratadaUseOdbcAuthentication TYPE="BOOL" saveNameAsAttribute="False">False</TeratadaUseOdbcAuthentication>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="pr_roll_date" Type="ExternalCall" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.SqlSchema.2">
<ProjectElementReference Name="fdr" Type="SqlSchema" SrcPrj="Utilities" />
<ConfigElement Type="SQL_SCHEMA" ValueOrAlias="Values" AliasName="">
<Name>fdr</Name>
<Properties>
<Oracle TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Oracle_12c TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False">FDR</Schema>
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">False</DoNotUseSchemaQualifiers>
</Oracle_12c>
</Oracle>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="process" Type="DataObject" SrcPrj="Trigger" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.SqlSchema.2">
<ProjectElementReference Name="stn" Type="SqlSchema" SrcPrj="Utilities" />
<ConfigElement Type="SQL_SCHEMA" ValueOrAlias="Values" AliasName="">
<Name>stn</Name>
<Properties>
<Oracle TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Oracle_12c TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False">stn</Schema>
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">False</DoNotUseSchemaQualifiers>
</Oracle_12c>
</Oracle>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ReferenceObject.6">
<ProjectElementReference Name="lpg_id" Type="ReferenceObject" SrcPrj="Utilities" />
<ConfigElement Type="REFERENCE_OBJECT" ValueOrAlias="Values" AliasName="">
<Name>lpg_id</Name>
<Properties>
<ReferenceObjectCacheMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectCachingMode">0</ReferenceObjectCacheMode>
<MaxMemUsage TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsage>
<MaxMemUsageSize TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSize>
<MaxMemUsageResultCaching TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsageResultCaching>
<MaxMemUsageSizeResultCaching TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSizeResultCaching>
<TimeMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectTimeMode">0</TimeMode>
<RetentionTimeDays TYPE="INT" saveNameAsAttribute="False">1</RetentionTimeDays>
<RetentionTimeHours TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeHours>
<RetentionTimeMinutes TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeMinutes>
<TOTDHour TYPE="INT" saveNameAsAttribute="False">0</TOTDHour>
<TOTDMinute TYPE="INT" saveNameAsAttribute="False">0</TOTDMinute>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="lpg_id" Type="EDFMapping" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="autoresubmit_transactions" Type="Rule" SrcPrj="Utilities" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>autoresubmit_transactions</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>lpg_id</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="gui_pkg.pk_check_resub" Type="ExternalCall" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="stn" Type="Device" SrcPrj="Trigger" />
<ConfigElement Type="DEVICE_TYPE_DB" ValueOrAlias="Alias" AliasName="STN">
<Name>stn</Name>
<Properties>
<DBServer TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseInstance TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseName TYPE="STRING" saveNameAsAttribute="False" />
<UserName TYPE="STRING" saveNameAsAttribute="False" />
<UserPassword TYPE="STRING" saveNameAsAttribute="False" SUBTYPE="PASSWORD">-----BEGIN PKCS7-----
MIAGCSqGSIb3DQEHA6CAMIACAQAxggGGMIIBggIBADBqMGUxCzAJBgNVBAYTAlBM
MRUwEwYDVQQIEwxEb2xub3NsYXNraWUxEDAOBgNVBAcTB1dyb2NsYXcxETAPBgNV
BAoTCE1pY3JvZ2VuMRowGAYDVQQLExFNaWNyb2dlbiAoUG9sYW5kKQIBLTANBgkq
hkiG9w0BAQEFAASCAQAZzeyzvaJcqNBr+EwSqVm6OE9ChoZPnTOt3pwiIWz73n2v
unrP6GwT5DSF2sOzskTb8P1iPNJVVOzDwx13JbVOBN9bQPl5w0WYaVKz+8qVsDiF
dqhjiMYwgNAlaKMz0QbHNucjK0sXH0wCPF8KR4AUue9PNeYP7AbovDWjbM6eXZbr
DU6lzpEN6O8wpJriMSHfDgsIhN2tMs7VAsccYCSgmGSpOl27pFt8bgny9NI0tF9y
Kqofvnh6sE9xzS3L+Zm981R1LFmH64hGsfxem2+Mg+aL84uFCzbqBGZT0c7SRBKf
llnEEKW5RMloIG4QdKU7X2BiXt+evT+iQggFuEgXMIAGCSqGSIb3DQEHATAUBggq
hkiG9w0DBwQIdU6PVM/fvyaggAQIiXVQa0BmS0IAAAAAAAAAAAAA
-----END PKCS7-----
</UserPassword>
<UseWindowsAutentification TYPE="BOOL" saveNameAsAttribute="False">False</UseWindowsAutentification>
<MinConn TYPE="INT" saveNameAsAttribute="False">1</MinConn>
<MaxConn TYPE="INT" saveNameAsAttribute="False">8</MaxConn>
<IncrConn TYPE="INT" saveNameAsAttribute="False">1</IncrConn>
<UseOracleWallet TYPE="BOOL" saveNameAsAttribute="False">False</UseOracleWallet>
<TeratadaUseOdbcAuthentication TYPE="BOOL" saveNameAsAttribute="False">False</TeratadaUseOdbcAuthentication>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.SqlSchema.2">
<ProjectElementReference Name="gui" Type="SqlSchema" SrcPrj="Utilities" />
<ConfigElement Type="SQL_SCHEMA" ValueOrAlias="Values" AliasName="">
<Name>gui</Name>
<Properties>
<Oracle TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Oracle_12c TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Schema TYPE="STRING" saveNameAsAttribute="False">gui</Schema>
<DoNotUseSchemaQualifiers TYPE="BOOL" saveNameAsAttribute="False">False</DoNotUseSchemaQualifiers>
</Oracle_12c>
</Oracle>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.DataObject.6">
<ProjectElementReference Name="ParamItems" Type="DataObject" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="fdr" Type="Device" SrcPrj="Utilities" />
<ConfigElement Type="DEVICE_TYPE_DB" ValueOrAlias="Alias" AliasName="FDR">
<Name>fdr</Name>
<Properties>
<DBServer TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseInstance TYPE="STRING" saveNameAsAttribute="False" />
<DatabaseName TYPE="STRING" saveNameAsAttribute="False" />
<UserName TYPE="STRING" saveNameAsAttribute="False" />
<UserPassword TYPE="STRING" saveNameAsAttribute="False" SUBTYPE="PASSWORD">-----BEGIN PKCS7-----
MIAGCSqGSIb3DQEHA6CAMIACAQAxggGGMIIBggIBADBqMGUxCzAJBgNVBAYTAlBM
MRUwEwYDVQQIEwxEb2xub3NsYXNraWUxEDAOBgNVBAcTB1dyb2NsYXcxETAPBgNV
BAoTCE1pY3JvZ2VuMRowGAYDVQQLExFNaWNyb2dlbiAoUG9sYW5kKQIBLTANBgkq
hkiG9w0BAQEFAASCAQCQThsDdaO7x5RwdeimsFXAQGzfLp3IDzHqHWHBaEVgnZ9S
3/RY4fkLcgMWC1n1KMhJWdZqexGWdwviVX+MFbR+Ra8NzeNcMYcHSa3Df7hGGlr/
5JV2SW50R9bb0BbVPuFqo62urFDDS3R/Fkt90PK9G1FilPuweDZmiPlu1Nkq8eNm
zQlmmBG76F4mNTeTHdtJdiHDjB4DveC35kUKQBlRpMix1JSqaAGPsacIaaU5+ttT
7zlznM6X5kRMipT3UNmdI92jMvX5pBKfD/7ueJ3k7ROLlIxPeiFhLf/1XzkL8rWL
8pqF5m0WP0Mfb1W8xMfGx44vYgq+MUq8B1Edwe6gMIAGCSqGSIb3DQEHATAUBggq
hkiG9w0DBwQIqu0roQlMol+ggAQIlXGoxn9NuqkAAAAAAAAAAAAA
-----END PKCS7-----
</UserPassword>
<UseWindowsAutentification TYPE="BOOL" saveNameAsAttribute="False">False</UseWindowsAutentification>
<MinConn TYPE="INT" saveNameAsAttribute="False">1</MinConn>
<MaxConn TYPE="INT" saveNameAsAttribute="False">8</MaxConn>
<IncrConn TYPE="INT" saveNameAsAttribute="False">1</IncrConn>
<UseOracleWallet TYPE="BOOL" saveNameAsAttribute="False">False</UseOracleWallet>
<TeratadaUseOdbcAuthentication TYPE="BOOL" saveNameAsAttribute="False">False</TeratadaUseOdbcAuthentication>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="ye_cleardown" Type="Rule" SrcPrj="Utilities" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>ye_cleardown</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>lpg_id</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ReferenceObject.6">
<ProjectElementReference Name="ParamItems" Type="ReferenceObject" SrcPrj="Utilities" />
<ConfigElement Type="REFERENCE_OBJECT" ValueOrAlias="Values" AliasName="">
<Name>ParamItems</Name>
<Properties>
<ReferenceObjectCacheMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectCachingMode">0</ReferenceObjectCacheMode>
<MaxMemUsage TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsage>
<MaxMemUsageSize TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSize>
<MaxMemUsageResultCaching TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectMaxMemUsage">0</MaxMemUsageResultCaching>
<MaxMemUsageSizeResultCaching TYPE="INT" saveNameAsAttribute="False">0</MaxMemUsageSizeResultCaching>
<TimeMode TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceObjectTimeMode">0</TimeMode>
<RetentionTimeDays TYPE="INT" saveNameAsAttribute="False">1</RetentionTimeDays>
<RetentionTimeHours TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeHours>
<RetentionTimeMinutes TYPE="INT" saveNameAsAttribute="False">0</RetentionTimeMinutes>
<TOTDHour TYPE="INT" saveNameAsAttribute="False">0</TOTDHour>
<TOTDMinute TYPE="INT" saveNameAsAttribute="False">0</TOTDMinute>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.EDFMapping.8">
<ProjectElementReference Name="ParamItems" Type="EDFMapping" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="fdr_archiving_pkg.parchive" Type="ExternalCall" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="autoresubmit_transactions-utilities" Type="BusinessProcess" SrcPrj="Utilities" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>autoresubmit_transactions-utilities</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="autoresubmit_transactions" Type="BusinessProcess" SrcPrj="Utilities" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>autoresubmit_transactions</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.BP.8">
<ProjectElementReference Name="parchive" Type="BusinessProcess" SrcPrj="Utilities" />
<ConfigElement Type="BUSINESS_PROCESS" ValueOrAlias="Values" AliasName="">
<Name>parchive</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegions TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<TransactionRegion_1 TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="Source node: Source" NODES_ID_PATH="" NODE_ID="1">
<UseGlobalSettings TYPE="BOOL" saveNameAsAttribute="False">True</UseGlobalSettings>
<ThreadPoolSize TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<TransactionBatchSize TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
</TransactionRegion_1>
</TransactionRegions>
</Execution>
</Properties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Rule.5">
<ProjectElementReference Name="parchive" Type="Rule" SrcPrj="Utilities" />
<ConfigElement Type="RULE" ValueOrAlias="Values" AliasName="">
<Name>parchive</Name>
<ConfigProperties>
<ConfigElement Type="REFERENCE_ACCESS_BLOCK" ValueOrAlias="Values" AliasName="">
<Name>ParamItems</Name>
<Properties>
<ReferenceAccessBlockCache TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ReferenceAccessBlockCacheType">1</ReferenceAccessBlockCache>
</Properties>
</ConfigElement>
</ConfigProperties>
</ConfigElement>
</ElementConfiguration>
<ElementConfiguration xmlns="A420.ExtCall.6">
<ProjectElementReference Name="gui_pkg.pk_auto_resub" Type="ExternalCall" SrcPrj="Utilities" />
</ElementConfiguration>
<ElementConfiguration xmlns="A420.Device.49">
<ProjectElementReference Name="bus" Type="Device" SrcPrj="Trigger" />
<ConfigElement Type="DEVICE_TYPE_BUS" ValueOrAlias="Values" AliasName="">
<Name>bus</Name>
<Properties>
<BusName TYPE="STRING" saveNameAsAttribute="False">APT_BUS</BusName>
</Properties>
</ConfigElement>
</ElementConfiguration>
<PropertyConfiguration>
<Name>BusinessCalendarsList2</Name>
<ConfigElement Type="PROJECT_PROPERTY_BUSINESS_CALENDARS_LIST" ValueOrAlias="Values" AliasName="">
<Name>BusinessCalendarsList2</Name>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ApplicationDefinitions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityRoles</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>ExecutionProperties</Name>
<ConfigElement Type="EXECUTION_PROPERTIES" ValueOrAlias="Values" AliasName="">
<Name>ExecutionProperties</Name>
<Properties>
<Execution TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<FastMode IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</FastMode>
<ThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ThreadPoolSize>
<BPDThreadPoolSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</BPDThreadPoolSize>
<AutoRestart IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</AutoRestart>
<InternalDataHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="InternalDataHandling">0</InternalDataHandling>
<TransactionBatchSize IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1000</TransactionBatchSize>
<ErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionErrorHandling">0</ErrorHandling>
<SourceEventsLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">2000</SourceEventsLimit>
<SessionSharing IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionSessionSharing" />
<DispatchingPolicyAmongSources IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DispatchingPolicyAmongSources">0</DispatchingPolicyAmongSources>
<ExecutionCOMPlusThreadingModel IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="ExecutionCOMPlusThreadingModel">1</ExecutionCOMPlusThreadingModel>
<MultiProcessingLoadBalancingPolicy IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LoadBalancingPolicy">2</MultiProcessingLoadBalancingPolicy>
<MemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="MemoryManagement">0</MemoryManagement>
<DataMemoryManagement IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DataMemoryManagement">4</DataMemoryManagement>
<ProjectInstanceMemoryLimit IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</ProjectInstanceMemoryLimit>
<ProjectInstanceCount IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</ProjectInstanceCount>
<CriticalErrorHandling IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CriticalErrorHandling">0</CriticalErrorHandling>
<CriticalErrorNumberStoppingExecution IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</CriticalErrorNumberStoppingExecution>
<BusHandlingThreads IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</BusHandlingThreads>
<ProcessManagers TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<MainProcessManager IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AdditionalProcessManagers IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</ProcessManagers>
</Execution>
<ExecutionParameters IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" />
<LdapSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanSettingsUse IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="LdapSettingsType">0</AzmanSettingsUse>
<GroupRoleMappings IsEditableCollection="True" CanModifyConfidentiality="True" TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="" />
<AzmanSettings TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<AzmanUsersGroupsDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanBuildInDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
<AzmanAuthorisationStoreDN IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">CN=store,CN=Program Data,DC=server,DC=example</AzmanAuthorisationStoreDN>
<AzmanApplicationName IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">WebApplication</AzmanApplicationName>
</AzmanSettings>
</LdapSettings>
<CoherenceParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ConfigItem name="General classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="HDFS classpath" TYPE="STRING" saveNameAsAttribute="True" />
<ConfigItem name="PIG classpath" TYPE="STRING" saveNameAsAttribute="True" />
</CoherenceParameters>
<TransactionRetry TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<NumberOfRetries IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">300</NumberOfRetries>
<Delay IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">1</Delay>
<EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</EnforceReconnectOnDatabaseSourcesWithNoStatusUpdate>
</TransactionRetry>
<DBSessionsSavingOnSources TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessions IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessions>
<RetentionTimout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">5</RetentionTimout>
</DBSessionsSavingOnSources>
<DBSessionsSavingOnETR TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<SaveDBSessionsInETR IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</SaveDBSessionsInETR>
<SaveDBSessionsInETR_RetentionTimeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">0</SaveDBSessionsInETR_RetentionTimeout>
</DBSessionsSavingOnETR>
<LockUnlockParameters TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Scope IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="Scopes">0</Scope>
<Timeout IsOverridable="True" TYPE="INT" saveNameAsAttribute="False">30</Timeout>
</LockUnlockParameters>
<WebApplication TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<ApplicationAddress IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False" />
</WebApplication>
<InternationalCharacterSupport TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<Collation IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CultureInfo">GB</Collation>
<CollationStrength IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="CollationStrength">0</CollationStrength>
<Encoding IsOverridable="True" TYPE="ENUM" saveNameAsAttribute="False" ENUMTYPE="DeviceFileEncoding">5</Encoding>
</InternationalCharacterSupport>
<Localisation TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<DefaultCulture IsOverridable="True" TYPE="DYNAMIC_CHOICE" saveNameAsAttribute="False" DynamicChoiceLoaderClass="Microgen.Aptitude.Metamodel.Development.config.exported.dynamicchoiceclasses.classes.LocalizationLanguageLoader" />
</Localisation>
<ExecutionLog TYPE="COMPLEX" saveNameAsAttribute="False" VALUE="">
<OverrideIniFileSurveySettings IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">False</OverrideIniFileSurveySettings>
<Enabled IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</Enabled>
<EnableStatistics IsOverridable="True" TYPE="BOOL" saveNameAsAttribute="False">True</EnableStatistics>
<Levels IsOverridable="True" TYPE="STRING" saveNameAsAttribute="False">-n109</Levels>
</ExecutionLog>
</Properties>
</ConfigElement>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>VariablesCollection</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LibrarySubstitutions</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>LocalizationProperties</Name>
<ConfigData Type="LocalizationConfigData">
<Cultures>
<Culture default="true">en</Culture>
<Culture default="true">en</Culture>
</Cultures>
</ConfigData>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>SecurityPolicies</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>DataTypeMappings</Name>
</PropertyConfiguration>
<PropertyConfiguration>
<Name>Sequences</Name>
<ConfigElement Type="SEQUENCES" ValueOrAlias="Values" AliasName="">
<Name>Sequences</Name>
</ConfigElement>
</PropertyConfiguration>
</Project>